
//Header
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100;

  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: transparent;
    padding: 0 3rem;
    border: 1px solid transparent;
    transition: 0.3s;

    .logo {
      align-items: center;
      position: relative;
      pointer-events: none;
      
      img {
        display: block;
        height: 50px;
        transition: opacity 0.3s;
      }
      span {
        padding-left: 10px;
        position: absolute;
        bottom: 25%;
        white-space: nowrap;
        text-decoration: none;
        color: #D0D0D0;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 4px;
        transition: 0.3s;
      }
    }
    .navigation {
      nav {
        a {
          margin: 0 40px;
          text-decoration: none;
          font-size: 0.65rem;
          letter-spacing: 1.75px;
          color: #D0D0D0;
          opacity: 0.6;
          transition: 0.3s;
          &:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }
        a:last-of-type(1) {
          margin-right: 0;
        }
      }
    }
  }
}

.has-background {
  // Comment these out for a fixed header. Also remove the {headerStyle} class from the <header> component in header.js
  opacity: 0;
  height: 0!important;
  // 
  background-color: rgba($color: #2C2D2F, $alpha: 0.8) !important;
  border: 1px solid #00000010 !important;
  transition: 0.3s;
}

.hide-logo {
  opacity: 0;
  transition: 0.3s;
}

.hide-title {
  opacity: 0;
  transition: 0.3s;
}











// -------------------- MEDIA QUERIES ---------------------- //
/* ----------- General Phone ----------- */

/* Portrait */
@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 375px) 
  and (orientation: portrait) {
    header .inner-header {
      padding: 0 0.5rem 0 0.5rem;
    }
    header .inner-header .logo img {
      height: 30px;
    }
    header .inner-header .navigation nav a {
      font-size: 0.6rem;
      margin: 1rem;
    }
}









/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    header .inner-header {
      padding: 0 0.5rem 0 0.5rem;
    }
    header .inner-header .logo img {
      height: 30px;
    }
    header .inner-header .navigation nav a {
      font-size: 0.6rem;
      margin: 1rem;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (orientation: landscape) { 
    header {
      display: none;

    }
}






/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    header .inner-header {
      padding: 0 0.5rem 0 0.5rem;
    }
    header .inner-header .logo img {
      height: 30px;
    }
    header .inner-header .navigation nav a {
      font-size: 0.6rem;
      margin: 1rem;
    }
}





/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  header .container {
    width: 90%;
  }
}