//Fonts
$font: 'proxima-nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

//Animations
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

//Colors

html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: inherit;    /* Firefox, other Gecko */
  box-sizing: inherit;
}

html, body {
  font-family: $font;
  font-size: 20px;
  margin: 0;
  background-color: #2C2D2F;
}

.container {
  width: 100%;
  padding: 0.5rem;
  opacity: 0;
  position: absolute;
  @include animation('on 0.8s ease-in-out 0s forwards');
}

input, textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  resize: none;
  color: #D0D0D0;
}

h1 {
  text-decoration: none;
  color: #D0D0D0;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  pointer-events: none;
}

// ------ ANIMATIONS ------- //
// Opening Animation
@include keyframes (on) {
  100% {
    opacity: 1;
  }
}

// Fade in
.fadeIn {
  -webkit-animation: fade-in 0.3s ease-in;
  -moz-animation:    fade-in 0.3s ease-in;
  -o-animation:      fade-in 0.3s ease-in;
  animation:         fade-in 0.3s ease-in;
}
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


// Pulse
.pulse {
  -webkit-animation: pulse 1.5s infinite;
  -moz-animation:    pulse 1.5s infinite;
  -o-animation:      pulse 1.5s infinite;
  animation:         pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0%   { opacity: 0.3; }
  65% { opacity: 1; }
  100% { opacity: 0.3; }
}
@-moz-keyframes pulse {
  0%   { opacity: 0.3; }
  65% { opacity: 1; }
  100% { opacity: 0.3; }
}
@-o-keyframes pulse {
  0%   { opacity: 0.3; }
  65% { opacity: 1; }
  100% { opacity: 0.3; }
}
@keyframes pulse {
  0%   { opacity: 0.3; }
  65% { opacity: 1; }
  100% { opacity: 0.3; }
}